<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weather</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
    <div class="main-content">
        <div>{{>header}}</div>
        <h1>{{title}}</h1>
        <p>{{desc}}</p>
        <form action="">
            <input type="text" name="" id="" placeholder="location">
            <button type="submit">search..</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>
        <footer>{{>footer}}</footer>
    <script src="/js/app.js"></script>
</body>

</html>