h1 {
    color: blue;
}

h1.header {
    color: rgb(0, 255, 42);
    text-align: center;
    margin-top: 16px;
    margin-bottom: 48px;
}

img {
    width: 250px;
}

footer {
    margin-top: 100px;
    color: rgb(13, 13, 14);
    text-align: center;
    border-top: 1px solid #eeeeee;
    padding: 16px 0;
}

body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-link a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}
.main-content {
    flex-grow: 1;
}